<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <%= link_to 'About', static_about_path %>
    <%= link_to 'Home', static_home_path %>
    <%= link_to 'Welcome', static_index_path %>
    <%= link_to 'Resume', static_resume_path %>
  </div>
</nav>

ABOUT
