
	<!-- link_to asset_path('diamonds.jpg') -->
	<div class="jumbotron">
		<div class= "container">
	  <h1>Diamonds are built under pressure</h1>
	  
	  <p><a class="btn btn-primary btn-lg" <%= link_to 'Come Sparkle', static_home_path %></a></p>
	</div>
</div>
