<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >NouveauNerd</a>
    </div>
     
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'About', static_about_path %></li>
		    <li><%= link_to 'Contact', static_home_path %></li>
		    <li><%= link_to 'Resume', static_resume_path %></li>
        <li><%= link_to 'Welcome', static_index_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <header class="clearfix">
    <div id="info">           
        <h1><span itemprop="name">Simone Battiste-Alleyne</span></h1>
        <h3><span itemprop="jobTitle"> Ruby on Rails Web Developer</span></h3>
        <small itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="addressLocality">Charlotte</span>, 
          <span itemprop="addressRegion">North Carolina</span>, 
          <span itemprop="addressCountry">USA</span>
        </small>
        <small><span itemprop="email">softe1988@gmail.com</span></small>
        <small><a href="" itemprop="url">My Portfolio</a> • <a href="http://twitter.com/blakgrad" itemprop="url">@blakgrad</a></small>
    </div>
     
   <!--  <div id="photo">
        <img src="http://media02.hongkiat.com/responsive-resume/jake-rocheleau-250.jpg" alt="Jake Rocheleau resume photo avatar" itemprop="image" />
    </div> -->
</header>
<section id="skills" class="clearfix" itemscope itemtype="http://schema.org/ItemList">
    <h2 itemprop="name">Skillset</h2>
    <section id="skills-left">
        <h4 itemprop="about">Development</h4>
        <ul>
            <li itemprop="itemListElement">HTML5/CSS3</li>
            <li itemprop="itemListElement">JavaScript & jQuery</li>
            <li itemprop="itemListElement">Ruby on Rails</li>
            <li itemprop="itemListElement">SQL/noSQL Databases</li>
            <li itemprop="itemListElement">Ajax</li>
            <li itemprop="itemListElement">APIs</li>
            <li itemprop="itemListElement">Testing</li>
        </ul>
    </section>
     
    <section id="skills-right">
        <h4 itemprop="about">My Stack</h4>
        <ul>
            <li itemprop="itemListElement">Ruby on Rails 4</li>
            <li itemprop="itemListElement">Postgresql</li>
            <li itemprop="itemListElement">iTerm</li>
            <li itemprop="itemListElement">Sublime</li>
            <li itemprop="itemListElement">Heroku</li>
        </ul>
    </section>
      <section id="projects">
      <h2>Recent Projects</h2>
      <p itemscope itemtype="http://schema.org/WebPage">
      <span itemprop="name">
      <a href=" https://salty-anchorage-7994.herokuapp.com/" itemprop="url" title=">Twilio App">Twilio App</a></span></p>
       
      <p itemscope itemtype="http://schema.org/WebPage">
      <span itemprop="name">
      <a href="https://radiant-springs-2021.herokuapp.com/" itemprop="url" title="Weather App">Weather App</a></span></p>
       
      <p itemscope itemtype="http://schema.org/WebPage">
      <span itemprop="name">
      <a href="https://intense-depths-4585.herokuapp.com/" itemprop="url" title="Recipe App">Recipe App</a></span></p>
       
      <p itemscope itemtype="http://schema.org/WebPage">
      <span itemprop="name">
      <a href="https://warm-bayou-7784.herokuapp.com/ " itemprop="url" title="Ajax To-Do List">Ajax To-Do List</a></span></p>
      </section>
</section>
    </div>
  </div>
</div>
