@import "bootstrap-sprockets";
@import "bootswatch/readable/variables";
@import "bootstrap";

body {padding-top: 60px;}

@import "bootswatch/readable/bootswatch";

#headshot {
	width: 290px;
	height: 269px;
	background: url(/assets/webpagepic2.jpg);
	border-radius: 15px;

}
