@import "bootstrap-sprockets";
@import "bootswatch/readable/variables";
@import "bootstrap";

body {padding-top: 60px;}

@import "bootswatch/readable/bootswatch";

#headshot {
	width: 290px;
	height: 269px;
	background: url(/assets/webpagepic2.jpg);
	border-radius: 15px;

}


.jumbotron {
	background-image: url(/assets/diamonds3.jpg);
	height: 500px;
	color: white;
	background-repeat: no-repeat;
	
	}

body{
	color: #514366;
	font-family: 'Raleway', sans-serif;
}

.navbar-brand{
	font-family: 'Comfortaa', cursive;
}
